@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

    <fieldset class="mt-5">
        <legend>Техническое задание</legend>
        <p>
            - система проекта(-ов), добавление новых и существующих записей в проект
        </p>
        <p>
            - календарь событий и зделать взаимодействие с ним, привязка к датам
        </p>
        <p>
            - поиск то тегам, также предлагать уже создание теги пользователям
        </p>
        <p>
            - страница для вывода всех ошыбок
        </p>
        <p>
            - логирование
        </p>
        <legend>Идеи пользователей</legend>
        <div>
            Нету!!!
        </div>
    </fieldset>

